{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - SheCanCodeIT{% else %}Welcome to SheCanCodeIT{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}

    </div>
    <div class="container">
        <br>
        <br>
        <p>
            <a href="{{ url_for('sccit_app.index')}}"><button type="button" class="btn btn-primary">Go Home or Go Big</button></a>            
            <a href="{{ url_for('sccit_app.register')}}"><button type="button" class="btn btn-primary">Go to Register</button></a>
            <a href="{{ url_for('sccit_app.dashboard')}}"><button type="button" class="btn btn-primary">Go to Dasbhoard</button></a>            
        </p>        
    </div>
{% endblock %}